{% extends 'layout.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p> {{ meaage }}</p>>
{% endfor %}
{% endif %}
{% endwith %}
<div class="card card-body">
<form action="/add_contact" method="POST">
  <div class="form-group">
    <input type="text" name="fullname" placeholder="Fullname> class="form-control">
  </div>
  <div>
    <div class="form-group">      
    <input type="text" name="phone" placeholder="Phone" class="form-control">
  </div>
    <div class="form-group">
    <input type="text" name="email" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">

    <button type="submit">
        Save
    </button>
</form>

<table>
    <tbody>
        <thead>
            <tr>
                <td>Fullname</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Operations</td>
            </tr>
        </thead>
    <tbody>
        <tr>
          {% for contact in contacts %}
          <td>{{ contact.1}}</td>
          <td>{{ contact.2}}</td>
          <td>{{ contact.3}}</td>
          <td>
              <a href="/edit/{contact.0}">Edit</a>
              <a href="/delete/{{contact.0}}">Delete</a>
          </td>
        </tr>tr>
    <tbody>    
<table>